{% extends 'main.html' %}
{% load static %}

{% block main %}
    <div class="layout-wrapper layout-content-navbar layout-without-menu">
        <div class="layout-container">
            <div class="layout-page">
                <div class="page-heading text-white d-flex align-items-center justify-content-center">
                    <div class="container py-5 text-center">
                        <h1 class="font-weight-bold fs-1 text-white">
                            Seminar Face Analysis
                        </h1>
                        <p class="font-italic">
                            Dive into the true emotions of your audience: Real-time face analysis for school seminar. <br> Capture genuine reactions and optimize your seminars with cutting-edge technology.
                        </p>
                        <a href="{% url 'core:main:index' %}" role="button" class="btn btn-primary px-5">Dashboard</a>
                    </div>
                </div>
                <div class="content-wrapper">
                    <div id="base" hx-swap-oob="true">
                        {% block base %}{% endblock base %}
                    </div>
                    <footer class="content-footer footer bg-footer-theme">
                        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                            <div class="mb-2 mb-md-0">
                                 © <script>document.write(new Date().getFullYear())</script> Sface
                            </div>
                        </div>
                    </footer>
                    <div class="content-backdrop fade"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}