{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css">
    <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css">
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/css/pages/page-auth.css' %}">
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>
    <script src="{% static 'js/htmx.min.js' %}"></script>
</head>
<body>
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <div class="card">
                    <div class="card-body" id="card-body" hx-swap-oob="true">
                        <div class="app-brand justify-content-center">
                            <a href="javascript:void(0)" class="app-brand-link gap-2">
                                <span class="app-brand-logo demo">
                                    <!-- 0 0 25 42 -->
                                </span>
                                <span class="app-brand-text demo text-body fw-bold text-capitalize">Sface</span>
                            </a>
                        </div>
                        <h4 class="mb-2">Welcome to Sface! 👋</h4>
                        {% if form.non_field_errors %}
                        <p class="text-danger">{% for error in form.non_field_errors %}{{ error }}{% endfor %}</p>
                        {% endif %}
                        <form class="mb-3" hx-post="">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="mb-3">
                                <label class="form-label text-capitalize">{{ field.label }}</label>
                                {{ field }}
                            </div>
                            {% endfor %}
                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100" type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>
</body>
</html>